<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Have you ever had a problem with coming up with questions for a trivia?</h4>
        <h4>Or questions you come up with are not interesting, not challenging or simply lame?</h4>
        <h1>Trivia Generator</h1>
        <h3>We got your back.</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <a [routerLink]="['generator']" class="btn btn-theme">Try it out</a>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /headerwrap -->